@import "../common/scss/variables";

$editor-toolbar-height: 80px;
$editor-drawer-height: 115px;
$icon-main-color: #03a9f4;
$icon-secondary-color: #1565C0;
$icon-accent-color: #E91E63;
$site-accent-color: map_get($mat-teal, 500);